*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
}

div#grid-dinamic {
    background-color: rgb(0, 9, 110);
    margin: 0 auto;
    width: 800px;
    height: 800px;
    border: 5px solid rgb(0, 0, 0);

}

/* calcolo box */
div.rs_box_consegna {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid rgb(0, 0, 0);
    cursor: crosshair;
    font-size: 2.5rem;
    font-weight: bolder;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.azzurro {
    background-color: aqua;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
} 